.outer{
	font-family: arial;
	text-transform: uppercase;
	margin-left:0cm;
	height:2.5cm;
	width:6cm;
	padding:2px;
}

.top-div{
	height: 1.5cm;
	width: 6cm;
	float: left;
	border-bottom: 1px solid #000;
}

.bot-div{
	margin-left: 20px;
}

.text{
	padding-bottom:1px;
	padding-left:15px;
}